:root {
  --color-header-footer: #5ef5ec;
  --color-button-style: #2bec1b;
  --color-box-style-1: #f65353;
  --color-box-style-2: #34aef2;
  --color-box-style-3: #47d23c;
  --color-box-style-4: #f041ca;
  --color-box-style-5: #5665ef;
  --color-box-style-6: #e7df2d;
  --color-box-style-7: #9747ff;
  --main-font: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
